body{
    height: 300px;
    width:  300px;
    
}

#home{
    margin-top: 90px;
    border-radius: 10px;
    
}

#home:hover{
    background-color: red;
    color: white;
}

a{
    text-decoration: none;
    color: red;
    font-weight: 400;
    font-size: 15px;
}

a:hover{
    background-color: red;
    color: white;
}

.button-el{
    margin-top: 10px;
    border-radius: 10px;
}

.button-el:hover{
    background-color: blue;
    color: white;
}
